
<header>
	<div class="menu" ng-show="entered==true">
		<div class="logo" ng-click="go('home');"></div>
		<div class="menuItem" ng-click="go('comment');">Comment ça marche?</div>
		<div class="menuItem" ng-click="go('inscription')">S'inscrire</div>
		<div ng-show="connect == false;" class="menuItem" ng-click="connect = true;">Se connecter</div>
		<form method="post" ng-show="connect==true;" action="/pages/connectUser.php" class="menuItem loginForm">
			<input class="loginFormElement" name="email" type="mail" placeholder="E-mail" ng-model="userMail">
			<input class="loginFormElement" name="password" type="password" placeholder="Votre mot de passe" ng-model="userPass">
			<button class="submitButton" ng-click="loginUser();">Connexion</button>
		</form>
	</div>
</header>
<hr ng-show="entered==true">
<div class="pageContent">
	<div class="logo centeredLogo" ng-hide='entered==true'></div>
	<button  class="enterButton" ng-click="entered=true;" ng-hide="entered==true">ENTRER</button>
	<div ng-show="entered==true" id="slogan">
		Pour faire de l'engagement d'une valeur.
	</div>
	<div ng-show="entered==true" id="partenaires">
		<div class="partenaire"  id="partner{{$index}}" ng-repeat="partner in partenaires track by $index" ng-style="{'background-image' : 'url({{partner.bg}})'}"> 
		</div>
	</div>
</div>


