<header>
	<div class="menu">
		<div class="logo" ng-click="go('home');"></div>
		<div class="menuItem" ng-click="go('comment');">Comment ça marche?</div>
		<div class="menuItem">S'inscrire</div>
		<div ng-show="connect == false;" class="menuItem" ng-click="connect = true;">Se connecter</div>
		<form  ng-show="connect==true;" action="" class="menuItem loginForm">
			<input class="loginFormElement" type="mail" placeholder="E-mail" >
			<input class="loginFormElement" type="password" placeholder="Votre mot de passe">
			<button class="submitButton">Connexion</button>
		</form>
	</div>
</header>
<hr>

<div class="pageContent">
	<div id="slogan">
		Pour faire de l'engagement d'une valeur.
	</div>
	<div id="partenaires">
		<div class="partenaire"  id="partner{{$index}}" ng-repeat="partner in partenaires track by $index" ng-style="{'background-image' : 'url({{partner.bg}})'}"> 
		</div>
	</div>
</div>


