<header>
	<div class="menu">
		<div class="logo" ng-click="go('home');"></div>
		<div class="menuItem" ng-click="go('comment');">Comment ça marche?</div>
		<div class="menuItem" ng-click="go('inscription')">S'inscrire</div>
		<div ng-show="connect == false;" class="menuItem" ng-click="connect = true;">Se connecter</div>
		<form method="post" ng-show="connect==true;" action="/pages/connectUser.php" class="menuItem loginForm">
			<input class="loginFormElement" type="mail" placeholder="E-mail" >
			<input class="loginFormElement" type="password" placeholder="Votre mot de passe">
			<button class="submitButton">Connexion</button>
		</form>
	</div>
</header>
<hr>

<div class="pageContent">
	<div id="questions">
		<div class="question" ng-repeat="question in titles">
			<div class="qTitle">
				{{question.title}}
			</div>
			<div class="qContent" ng-repeat="content in question.contenu">
				{{content}}
			</div>
		</div>
	</div>

	<div id="etapes">
	<div class="etape" id="etape1">
		<div class="numEtape">
			1ère étape
		</div>
		<div class="nomEtape">
			la valorisation
		</div>
		<div class="descEtape">
			Décrivez votre expérience et mettez en avant ce que vous avez retiré.
		</div>
	</div>
	<div class="etape" id="etape2">
		<div class="numEtape">
			2ème étape
		</div>
		<div class="nomEtape">
			la confirmation
		</div>
		<div class="descEtape">
			Confirmez cette expérience et ce que vous avez pu constater au contact de ce jeunes
		</div>
	</div>
	<div class="etape" id="etape3">
		<div class="numEtape">
			3ème étape
		</div>
		<div class="nomEtape">
			la consultation
		</div>
		<div class="descEtape">
			Validez cet engagement en prenant en compte sa valeur.
		</div>
	</div>
</div>
</div>