<header>
	<div class="menu">
		<div class="logo" ng-click="go('home');"></div>
		<div class="menuItem" ng-click="go('comment');">Comment ça marche?</div>
		<div class="menuItem">S'inscrire</div>
		<div ng-show="connect == false;" class="menuItem" ng-click="connect = true;">Se connecter</div>
		<form method="post" ng-show="connect==true;" action="/pages/connectUser.php" class="menuItem loginForm">
			<input class="loginFormElement" type="mail" placeholder="E-mail" >
			<input class="loginFormElement" type="password" placeholder="Votre mot de passe">
			<button class="submitButton">Connexion</button>
		</form>
	</div>
</header>
<hr>

<div class="pageContent">
	<form action="/pages/submitForm.php" method="post" class="signUpForm" ng-submit="showJeune()">
		<div ng-show="error == true" class="errorMessage">
			{{errorMessage}}
		</div>
		<div class="coteGauche">
			<label for="nom" class="signUpFormElement">Nom</label>
			<input type="text" name="nom" id="nom" class="signUpFormElement signUpFormInput" required="true" required="true" ng-model="jeune.surname">
			<label for="prenom" class="signUpFormElement">Prénom</label>
			<input type="text" name='prenom' id="prenom" class="signUpFormElement signUpFormInput" required="true" ng-model="jeune.name">
			<label for="datenaissance" class="signUpFormElement">Date de naissance</label>
			<input type="date" name="datenaissance" id="datenaissance" class="signUpFormElement signUpFormInput" required="true" ng-model='jeune.birthdate'>
			<label for="motdepasse" class="signUpFormElement">Mot de passe</label>
			<input type="password" name="motdepasse" class="signUpFormElement signUpFormInput" required="true" ng-model="jeune.password">
			<label for="reseausocial" class="signUpFormElement">Réseaux sociaux</label>
			<input type="url" name='reseausocial' id='reseausocial' class="signUpFormElement signUpFormInput" ng-model="jeune.reseau1"> 
			<input type="url" name='reseausocial1' id='reseausocial1' class="signUpFormElement signUpFormInput" ng-model="jeune.reseau2">
			<input type="url" name='reseausocial2' id='reseausocial2' class="signUpFormElement signUpFormInput" ng-model="jeune.reseau3">
		</div>
		<div class="coteMilieu">
			<label for="email" class="signUpFormElement">E-mail</label>
			<input type="mail" name="email"	class="signUpFormElement signUpFormInput" ng-model="jeune.email">
			<label for="engagement" class="signUpFormElement">Mon engagement</label>
			<input type="text"  name="engagement" class="signUpFormElement signUpFormInput" required="true" ng-model="jeune.engagement">
			<label for="duree" class="signUpFormElement">Durée</label>
			<input type="text"  name="duree" 	class="signUpFormElement signUpFormInput" required="true">
			<label for="message" class="signUpFormElement">Message</label>
			<textarea name="message" id="message" cols="13" rows="1" class="signUpFormElement signUpFormInput" ng-model=""></textarea>
		</div>
		<div class="coteDroit">
			<label for="savoirEtre" class="signUpFormElement">Compétences</label><br>
			<input class="competence" type="checkbox" id="autonome" name="savoirEtre[]" value="autonome">Autonome<br>	
			<input class="competence" type="checkbox"  id="capable" name="savoirEtre[]" value="capable">Capable d'analyse et de sytnhèse<br>
			<input class="competence" type="checkbox" name="savoirEtre[]" value="ecoute">A l'écoute<br>
			<input class="competence" type="checkbox" name="savoirEtre[]" value="organise">Organisé<br>
			<input class="competence" type="checkbox" name="savoirEtre[]" value="passione">Passioné<br>
			<input class="competence" type="checkbox" name="savoirEtre[]" value="fiable">Fiable<br>
			<input class="competence" type="checkbox" name="savoirEtre[]" value="patient">Patient<br>
			<input class="competence" type="checkbox" name="savoirEtre[]" value="reflechi">Réfléchi<br>
			<input class="competence" type="checkbox" name="savoirEtre[]" value="responsable">Responsable<br>
			<input class="competence" type="checkbox" name="savoirEtre[]" value="sociable">Sociable<br>
			<input class="competence" type="checkbox" name="savoirEtre[]" value="optimiste">Optimiste
		</div>
		<button id="inscription">S'inscrire	</button>
	</form>
</div>