<header>
	<div class="menu">
		<div class="logo" ng-click="go('home');"></div>
	</div>
</header>
<hr>

<div class="pageContent">
	<form action="/pages/submitForm.php" method="post" class="signUpForm" ng-submit="showJeune()">
		<div class="coteGauche">
			<label for="nom" class="signUpFormElement">Nom</label>
			<input type="text" name="nom" id="nom" class="signUpFormElement signUpFormInput" required="true" required="true" ng-model="jeune.surname">
			<label for="prenom" class="signUpFormElement">Prénom</label>
			<input type="text" name='prenom' id="prenom" class="signUpFormElement signUpFormInput" required="true" ng-model="jeune.name">
			<label for="datenaissance" class="signUpFormElement">Date de naissance</label>
			<input type="date" name="datenaissance" id="datenaissance" class="signUpFormElement signUpFormInput" required="true" ng-model='jeune.birthdate'>
			<label for="motdepasse" class="signUpFormElement">Mot de passe</label>
			<input type="password" name="motdepasse" class="signUpFormElement signUpFormInput" required="true" ng-model="jeune.password">
			<label for="reseausocial" class="signUpFormElement">Réseaux sociaux</label>
			<input type="url" name='reseausocial' id='reseausocial' class="signUpFormElement signUpFormInput" ng-model="jeune.reseau1"> 
			<input type="url" name='reseausocial1' id='reseausocial1' class="signUpFormElement signUpFormInput" ng-model="jeune.reseau2">
			<input type="url" name='reseausocial2' id='reseausocial2' class="signUpFormElement signUpFormInput" ng-model="jeune.reseau3">
		</div>
		<div class="coteMilieu">
			<label for="email" class="signUpFormElement">E-mail</label>
			<input type="mail" name="email"	class="signUpFormElement signUpFormInput" ng-model="jeune.email">
			<label for="engagement" class="signUpFormElement">Présentation</label>
			<input type="text"  name="engagement" class="signUpFormElement signUpFormInput" required="true" ng-model="jeune.engagement">
			<label for="duree" class="signUpFormElement">Durée</label>
			<input type="text"  name="duree" 	class="signUpFormElement signUpFormInput" required="true">
			<label for="message" class="signUpFormElement">Message</label>
			<textarea name="message" id="message" cols="13" rows="1" class="signUpFormElement signUpFormInput" ng-model=""></textarea>
		</div>
		<div class="coteDroit">
			<label for="savoirEtre" class="signUpFormElement">Je confirme sa(son)</label><br>
			<input class="competence" type="checkbox" id="autonome" name="savoirEtre[]" value="autonome">Confiance<br>	
			<input class="competence" type="checkbox"  id="capable" name="savoirEtre[]" value="capable">Bienveillance<br>
			<input class="competence" type="checkbox" name="savoirEtre[]" value="ecoute">Respect<br>
			<input class="competence" type="checkbox" name="savoirEtre[]" value="organise">Honneteté<br>
			<input class="competence" type="checkbox" name="savoirEtre[]" value="passione">Tolérance<br>
			<input class="competence" type="checkbox" name="savoirEtre[]" value="fiable">Bienveillance<br>
			<input class="competence" type="checkbox" name="savoirEtre[]" value="patient">Respect<br>
			<input class="competence" type="checkbox" name="savoirEtre[]" value="reflechi">Juste<br>
			<input class="competence" type="checkbox" name="savoirEtre[]" value="responsable">Impartial<br>
			<input class="competence" type="checkbox" name="savoirEtre[]" value="sociable">Travail<br>
			<input class="competence" type="checkbox" name="savoirEtre[]" value="optimiste">Optimiste
		</div>
		<button id="inscription">S'inscrire	</button>
	</form>
</div>
