<header>
	<div class="menu">
		<div class="logo" ng-click="go('home');"></div>
		<div class="menuItem" ng-click="go('editProfil');">Mon profil</div>
		<div class="menuItem" ng-click="go('referents')">Mes référents</div>

</header>
<hr>

<div class="pageContent" ">
	<div id="bonjour">
		Bonjour !
	</div>
	<div id="message">
		Ici vous pouvez consulter votre page profile et modifier vos informations personnelles. <br>
		Ainsi, vous pouvez voir le status de vos référents et choisir lesquelles vous souhaites ajouter à votre page.
	</div>
</div>	
