<header>
	<div class="menu">
		<div class="logo" ng-click="go('home');"></div>
		<div class="menuItem" ng-click="go('editProfil');">Mon profil</div>
		<div class="menuItem" ng-click="go('referents')">Mes référents</div>
</header>
<hr>

<div class="pageContent">
	<div id="ajouterReferent">
		<input id='refMail' type="mail" placeholder="Adresse mail de référent" ng-model="referentMail">
		<button id="newRef" ng-click="nouveauRef()">Nouveau référent</button>
	</div>
	<div id="referentList">
		<div class="titles">
			<div class="ttle">E-mail</div>
			<div class="ttle">Lien</div>
			<div class="ttle" id="etatTtle">Etat</div>
		</div>
		<div class="referent" ng-repeat="ref in userReferents">
		<div class="refCell">
			{{ref.email}}
		</div>
		<div class="refCell">
			http://gursoyege.github.io/#/referent/{{ref.unique_id}}
		</div>
		<div class="refCell" id="etatTtle">
			{{ref.etat}}
		</div>
		</div>
	</div>
</div>
